@model Ebook_Store.Models.Database.About

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>



<form action="/About/Edit" method="post">
    <div class="form-group" style="height:200px;width:500px;">
        <textarea name="Description" class="form-control"> @Model.Description</textarea>
    </div>    
    <input type="submit" class="form-control btn btn-sm btn-success" value="Update" />
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
