@model Ebook_Store.Models.Database.Seller

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h2>Are You Sure Want to Delete Seller  @Model.Name</h2>

<div class="col-md-10">
    <form action="/Seller/Delete" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="submit" value="Delete" />
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>