@model Ebook_Store.Models.Database.Customer
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Are You Sure Want to Delete Customer  @Model.Name</h2>

<div class="col-md-10">
    <form action="/Customer/Delete" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="submit" value="Delete" />
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
