@model Ebook_Store.Models.Entities.AdminModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}


<div class="row text-center">
    <div class="col-lg-6">
        <form action="/Login/Index" method="post">
            <input type="email" name="Email" class="form-control" placeholder="Email" />
            <lebel>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</lebel>
            <input type="password" name="Password" class="form-control" placeholder="Password" />
            <lebel>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</lebel>

            <input type="submit" class="form-control btn btn-sm btn-success" value="Login Admin" />
            <span style="color:red">@ViewBag.Message</span>
        </form>
    </div>
</div>
